<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>295397127329-nunsn725egal2ee1gfq1qsujbs1njlg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295397127329-nunsn725egal2ee1gfq1qsujbs1njlg7</string>
	<key>API_KEY</key>
	<string>AIzaSyCt_Y2OAIB6iq04pMOv5QAA79VBkNr6Uzc</string>
	<key>GCM_SENDER_ID</key>
	<string>295397127329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shazim.tippzi</string>
	<key>PROJECT_ID</key>
	<string>tippzi-200314</string>
	<key>STORAGE_BUCKET</key>
	<string>tippzi-200314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295397127329:ios:22fdd6312d56d729</string>
	<key>DATABASE_URL</key>
	<string>https://tippzi-200314.firebaseio.com</string>
</dict>
</plist>