<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tippzi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.04</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.shazim.tippzi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb234443213786150</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.shazim.tippzi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.shazim.tippzi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.shazim.tippzi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-55Z4U9O9m3AjM7EpLrzg4YauD</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.shazim.tippzi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.295397127329-nunsn725egal2ee1gfq1qsujbs1njlg7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>234443213786150</string>
	<key>FacebookDisplayName</key>
	<string>Tippzi</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<string>NO</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.shazim.tippzi</string>
		<string>twitterauth</string>
		<string>fbapi</string>
		<string>twitter</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>com.example.foo</string>
		<string>com.googleusercontent.apps.1234567890-abcdefghijklmnopqrstuvwxyz</string>
		<string>com-google-gidconsent-google</string>
		<string>com-google-gidconsent</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>googlechrome</string>
		<string>googlechrome-x-callback</string>
		<string>hasgplus4</string>
		<string>295397127329-nunsn725egal2ee1gfq1qsujbs1njlg7.apps.googleusercontent.com</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>google.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>plus.google.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Set the background of the app with your beautiful photography</string>
	<key>NSContactsUsageDescription</key>
	<string>The images you got from camera will be uploaded to the server and customers will show the photos of your bar you uploaded</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map and used for directions, nearby search bars, and estimated travel times.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map and used for directions, nearby search bars, and estimated travel times.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The images you selected from photo library will be uploaded to the server and customers will show the photos of your bar you uploaded</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
